01_einfuehrung.html
02_aesthetic-mappings.html
02_aesthetic-mappings_files
03_haeufigkeiten.html
03_haeufigkeiten_files
04_verteilungen.html
04_verteilungen_files
05_verteilungen_2.html
05_verteilungen_2_files
06_koordinaten.html
06_koordinaten_files
07_Farben.html
07_Farben_files
08_fine-tuning.html
08_fine-tuning_files
09_data_wrangling_1.html
09_data_wrangling_1_files
10_data_wrangling_2.html
11_achsen_umsortieren.html
11_achsen_umsortieren_files
12_proportionen_visualisieren.html
12_proportionen_visualisieren_files
13_trends_visualisieren.html
13_trends_visualisieren_files
14_unsicherheit_visualisieren.html
14_unsicherheit_visualisieren_files
15_farbenwahrnehmung.html
15_farbenwahrnehmung_files
16_redundante_kodierung.html
16_redundante_kodierung_files
17_interaktive_plots.html
17_interaktive_plots_files
18_channels_marks.html
18_channels_marks_files
19_animation.html
19_animation_files
20_funktionen.html
20_funktionen_files
21_geodaten.html
21_geodaten_files
_template.html
