@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);


/* Generic stuff */

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-inline-code { font-size: 0.94em; line-height: 1.0; }

body { font-family: 'Open Sans' }

.nogap p {margin-top: 0; margin-bottom: 0}

.img-75 {
  text-align: center;
  width: 500px !important;
  height: 320px !important;
}

.img-50 {
  text-align: center;
  width: 400px !important;
  height: 220px !important;
}


.grViz {
  margin-left:auto; margin-right:auto; display:block;
}

/* Pretty sure this is all me messing with the title slide */


div.remark-slide-container h1 {
	font-family: 'Open Sans', sans-serif;
	color: #00549F;
	letter-spacing: -1px;
  font-size: 42px;
  line-height: 1.1em;
  font-weight: bold;
}

.inverse h1 {
    color: #E8F1FA;
    line-height: 0.5em;
    font-weight: normal;
}

.title-slide h1 {

	margin-top: -130px;
}

div.remark-slide-container h2 {
	font-family: 'Open Sans', sans-serif;
	color: #407FB7;
	letter-spacing: -1px;
	font-weight: normal;
	font-size: 26px
}

div.remark-slide-container h3 {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	letter-spacing: -1px;
	font-size: 22px;
	font-weight: normal;
	padding-top: 10px
}

.title-slide {
	background-color: #fff;
  background-image: url('figs/hcic.png');
	background-position: center bottom 100px;
	background-size: 50%;
	border-bottom: 0 solid #00549F;
	box-shadow:  0 55px 0 #fff;
}




.title-slide .remark-slide-number {
  display: none;
}

/* Hmm. How about the slide number. */


.remark-slide-number {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #522D80;
}

/* Okay, now let's add a simple bottom border */


div.remark-slide {
  border-bottom: 3px solid  #00549F;
  box-shadow:  0 5px 0 #F66733;

}

/* Let's play with .inverse and a new class, .fullscale, a little more */

.inverse {
    color: #fafafa;
    text-shadow: 0 0 0 #333;
}

div.remark-slide-container .fullscale {
    color: #d6d6d6;
    text-shadow: 0 0 20px #333;
}

div.remark-slide-container .fullscale h1 {
	color: #fff;

}

div.remark-slide-container .fullscale p {
	color: #000;

}
.remark-slide-content {
	font-size: 20px;
	text-shadow: 0 0 0 #333;

}

.footnote {
  font-size: 14px;

}

.footer {
    color: black;
    position: fixed;
    top: 95%;
    left: 0;
    font-size: 11pt;
    text-align: center;
    width: 100%;
}

/* RWTH Link Color und Figure Caption sizes*/

a {
  color: #E30066;
}

.figurecaption {
  display: block;
   font-size: 14px;
   line-height: 1.15em;
   text-align: center;
}


.red {
  color: #cc071e;
}

.orange {
  color: #F6A800;
}

.yellow {
  color: #FFED00;
}

.gray {
  color: #CFD1D2;
}

.small-font { font-size: 0.86em; }
.tiny-font { font-size: 0.66em; }
.xtiny-font { font-size: 0.60em; }

.width-10 {
  width: 10%
}
.width-15 {
  width: 15%
}
.width-20 {
  width: 20%
}
.width-25 {
  width: 25%
}
.width-30 {
  width: 30%
}
.width-35 {
  width: 35%
}
.width-40 {
  width: 40%
}
.width-45 {
  width: 45%
}
.width-50 {
  width: 50%
}
.width-55 {
  width: 55%
}
.width-60 {
  width: 60%
}
.width-65 {
  width: 65%
}
.width-70 {
  width: 70%
}
.width-75 {
  width: 75%
}
.width-80 {
  width: 80%
}
.width-85 {
  width: 85%
}
.width-90 {
  width: 90%
}

.move-up-1em {
  margin-top: -1em;
}

.move-up-2em {
  margin-top: -2em;
}

.move-up-3em {
  margin-top: -3em;
}

.move-down-1em {
  margin-top: 1em;
}

.move-down-2em {
  margin-top: 2em;
}

.move-down-3em {
  margin-top: 2em;
}

.absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 4em;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 4em;
}



table {
  display: inline-block;
}
